<div class="tags">
  <% Category.all.each do |category| %>
    <%
      url = request.url
      if url.match('c=')
        url << ',' << category.id.to_s
      else
        url << '&c=' << category.id.to_s
      end
    %>
    <a class="success small button" href="<%= url %>"><%= category.name_jp %></a>
  <% end %>
</div>
