<li class="fields">
  <%= f.hidden_field :id %>
  <%= f.collection_select :language_id, Language.all, :id, :name_jp, :include_blank => true %>
  <%= link_to_remove_fields 'Remove Language', f %>
</li>