i .btn {
  color: white;
  background-color: blue;
}

@for $i from 0 through 20 {
  .mg#{$i * 5} {
    margin: #{$i * 5}px;
  }

  .mt#{$i * 5} {
    margin-top: #{$i * 5}px;
  }

  .mb#{$i * 5} {
    margin-bottom: #{$i * 5}px;
  }

  .ml#{$i * 5} {
    margin-left: #{$i * 5}px;
  }

  .mr#{$i * 5} {
    margin-right: #{$i * 5}px;
  }

  .pd#{$i * 5} {
    padding: #{$i * 5}px;
  }

  .pt#{$i * 5} {
    padding-top: #{$i * 5}px;
  }

  .pb#{$i * 5} {
    padding-bottom: #{$i * 5}px;
  }

  .pl#{$i * 5} {
    padding-left: #{$i * 5}px;
  }

  .pr#{$i * 5} {
    padding-right: #{$i * 5}px;
  }

  .mg-#{$i * 5} {
    margin: -#{$i * 5}px;
  }

  .mt-#{$i * 5} {
    margin-top: -#{$i * 5}px;
  }

  .mb-#{$i * 5} {
    margin-bottom: -#{$i * 5}px;
  }

  .ml-#{$i * 5} {
    margin-left: -#{$i * 5}px;
  }

  .mr-#{$i * 5} {
    margin-right: -#{$i * 5}px;
  }

  .pd-#{$i * 5} {
    padding: -#{$i * 5}px;
  }

  .pt-#{$i * 5} {
    padding-top: -#{$i * 5}px;
  }

  .pb-#{$i * 5} {
    padding-bottom: -#{$i * 5}px;
  }

  .pl-#{$i * 5} {
    padding-left: -#{$i * 5}px;
  }

  .pr-#{$i * 5} {
    padding-right: -#{$i * 5}px;
  }
}

@mixin social($color-bg, $color: #fff) {
  background-color: $color-bg !important;
  color: $color !important;

  i {
    color: $color !important;
  }

  &:hover {
    background-color: lighten($color-bg, 10%) !important;
  }
}

.adn { @include social(#d87a68); }
.bitbucket { @include social(#205081); }
.dropbox { @include social(#1087dd); }
.facebook { @include social(#3b5998); }
.flickr { @include social(#ff0084); }
.foursquare { @include social(#f94877); }
.github { @include social(#444444); }
.google { @include social(#dd4b39); }
.instagram { @include social(#405de6); }
.linkedin { @include social(#007bb6); }
.microsoft { @include social(#2672ec); }
.windows { @include social(#2672ec); }
.odnoklassniki { @include social(#f4731c); }
.openid { @include social(#f7931e); }
.pinterest { @include social(#cb2027); }
.reddit { @include social(#eff7ff, #000); }
.soundcloud { @include social(#ff5500); }
.tumblr { @include social(#2c4762); }
.twitter { @include social(#55acee); }
.vimeo { @include social(#1ab7ea); }
.vk { @include social(#587ea3); }
.yahoo { @include social(#720e9e); }
