<div class="row">
  <div class="large-6 columns">

    <h5><%= @movie.name_jp %></h5>

    <% if !@movies_histories.blank? %>
      <% @movies_histories.each do |movies_history| %>
        <div>
          <%= link_to movies_history.view_date, movie_history_path(
              :id => movies_history.id, :movie_id => movies_history.movie_id) %>
          </div>
      <% end %>
    <% end %>

    <%= render 'form' %>

    <%= link_to 'Back', movie_histories_path %>

  </div>
</div>
